<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="bioscara_arm" params="parameters prefix parent *origin">
    
    <xacro:include filename="$(find bioscara_arm_description)/urdf/materials.xacro" />

    <!-- Adjust this parameter manually to tune the tool_flange z-height -->
    <xacro:property name="tool_flange_zheight" value="0.135"/>

    <joint name="${prefix}base_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}" />
      <child link="${prefix}base_link" />
    </joint>

    <link name="${prefix}base_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="file://$(find bioscara_arm_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="silver"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="file://$(find bioscara_arm_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>

    <joint name="${prefix}j1" type="revolute">
      <origin xyz="0.0 0.0 ${tool_flange_zheight}" rpy="0 0 0"/>
      <parent link="${prefix}base_link"/>
      <child link="${prefix}link_1"/>
      <axis xyz="0.0 0.0 1.0"/>
      <limit upper="${parameters['j1']['max']}" lower="${parameters['j1']['min']}" effort="100" velocity="${parameters['j1']['max_velocity']}"/>
    </joint>

    <link name="${prefix}link_1">
      <visual>
        <origin xyz="-0.0 -0.0 -${tool_flange_zheight}" rpy="0 0 0"/>
        <geometry>
          <mesh filename="file://$(find bioscara_arm_description)/meshes/link_1_1.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="silver"/>
      </visual>
      <collision>
        <origin xyz="-0.0 -0.0 -${tool_flange_zheight}" rpy="0 0 0"/>
        <geometry>
          <mesh filename="file://$(find bioscara_arm_description)/meshes/link_1_1.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>

    <joint name="${prefix}j2" type="prismatic">
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <parent link="${prefix}link_1"/>
      <child link="${prefix}link_2"/>
      <axis xyz="0.0 0.0 1.0"/>
      <limit upper="${parameters['j2']['max']}" lower="0" effort="100" velocity="${parameters['j2']['max_velocity']}"/>
    </joint>

    <link name="${prefix}link_2">
      <visual>
        <origin xyz="-0.0 -0.0 -${tool_flange_zheight}" rpy="0 0 0"/>
        <geometry>
          <mesh filename="file://$(find bioscara_arm_description)/meshes/link_2_1.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="silver"/>
      </visual>
      <collision>
        <origin xyz="-0.0 -0.0 -${tool_flange_zheight}" rpy="0 0 0"/>
        <geometry>
          <mesh filename="file://$(find bioscara_arm_description)/meshes/link_2_1.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>

    <joint name="${prefix}j3" type="revolute">
      <origin xyz="0.329476 0.0 0.0" rpy="0 0 0"/>
      <parent link="${prefix}link_2"/>
      <child link="${prefix}link_3"/>
      <axis xyz="0.0 0.0 1.0"/>
      <limit upper="${parameters['j3']['max']}" lower="${parameters['j3']['min']}" effort="100" velocity="${parameters['j3']['max_velocity']}"/>
    </joint>

    <link name="${prefix}link_3">
      <visual>
        <origin xyz="-0.329476 -0.0 -${tool_flange_zheight}" rpy="0 0 0"/>
        <geometry>
          <mesh filename="file://$(find bioscara_arm_description)/meshes/link_3_1.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="silver"/>
      </visual>
      <collision>
        <origin xyz="-0.329476 -0.0 -${tool_flange_zheight}" rpy="0 0 0"/>
        <geometry>
          <mesh filename="file://$(find bioscara_arm_description)/meshes/link_3_1.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>

    <joint name="${prefix}j4" type="revolute">
      <origin xyz="0.285 -0.0 0.0" rpy="0 0 0"/>
      <parent link="${prefix}link_3"/>
      <child link="${prefix}link_4"/>
      <axis xyz="0.0 0.0 1.0"/>
      <limit upper="${parameters['j4']['max']}" lower="${parameters['j4']['min']}" effort="100" velocity="${parameters['j4']['max_velocity']}"/>
    </joint>

    <link name="${prefix}link_4">
      <visual>
        <origin xyz="-0.614476 0.0 -${tool_flange_zheight}" rpy="0 0 0"/>
        <geometry>
          <mesh filename="file://$(find bioscara_arm_description)/meshes/link_4_1.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="silver"/>
      </visual>
      <collision>
        <origin xyz="-0.614476 0.0 -${tool_flange_zheight}" rpy="0 0 0"/>
        <geometry>
          <mesh filename="file://$(find bioscara_arm_description)/meshes/link_4_1.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>

    <joint name="${prefix}flange_joint" type="fixed">
      <origin xyz="0 0 0" rpy="${pi} 0 0" />
      <parent link="${prefix}link_4"/>
      <child link="${prefix}tool_flange" />
    </joint>

    <!-- Tool Link -->
    <link name="${prefix}tool_flange"/>

  </xacro:macro>

</robot>
